.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section {
    background-color: var(--color-bg-darkest);
    border-top: 1px solid rgba(71, 146, 255, 0.15);
}